body {
    direction: ltr;
}

#med-navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#med-navbar .header-brand {
    margin-bottom: 2.5rem;
}

#main-navbar {
    background-color: #f5f5f5;
    top: 35px;
    display: block;
    border-bottom: 0;
    padding: 0 0;
    transition: 0.2s;
    margin-bottom: 25px;
    height: auto;
}

#main-navbar .nav-item {
    padding: 0;
    font-weight: 700;
    color: black;
}

#main-navbar a.nav-link {
    height: 55px;
    padding: 15px 22px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-left: 2px solid #333;
    background-color: #333;
}

#main-navbar a.nav-link:hover,
#main-navbar a.nav-link:focus {
    color: white;
    background-color: black;
}


.stuck {
    top: 0 !important;
    border-bottom: 1px solid #bcbcbc !important;
    background: #fff;
}

.stuck .is-scrolled {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition-delay: .1s;
}

.is-scrolled {
    opacity: 0;
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: all .2s ease-in-out 0s;
}

#small-nav {

    background-color: black;
    height: 35px;
}

#small-nav .container {
    justify-content: right !important;
}

#small-nav a {
    font-size: inherit;
    color: #999;
    margin-left: 40px;
    display: inline-block;
    line-height: 1.0 !important;
}

#small-nav div ul li {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 0px;
    padding-left: 3px;
}
#small-nav div ul{
    margin-right: 0;
    margin-left: auto;
}

#small-nav a:hover,
.top-link a:focus {
    text-decoration: none;
    color: #fff;
}

.brand-uni {
    margin: 10 0;
}

.breadcrumb {
    border-radius: 0 !important;
    background-color: #fbfbfb;
    margin-bottom: 25px;
}

.breadcrumb li a {
    font-size: 12px;
    color: black;
    text-decoration: underline;
}

.breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
}

.breadcrumb li a.active {
    color: red;
    text-decoration: underline;
}

.breadcrumb li a.active:hover {
    color: black;
    text-decoration: underline;
}


#sidebar a {
    direction: ltr;
    text-align: left;
    color: black;
    padding: 1.05rem 1.25rem;
}

#sidebar a.hasChildren.normal:after {
    content: "\f0d9";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-left: 10px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 50ms;
    -o-transition: 50ms;
    transition: 50ms;
    color: grey;
}

#sidebar a.hasChildren.active:after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-left: 10px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 50ms;
    -o-transition: 50ms;
    transition: 50ms;
}

#sidebar a.hasChildren.normal:hover:after {
    transform: rotate(-90deg);
    color: black;
    ;
}

#sidebar a.active,
#sidebar li.active {
    color: red;
}

#sidebar li:hover,
#sidebar li.active:hover {
    background: #eee;
}

#sidebar li,
#sidebar li.active {
    border-top: none;
    border-left: none;
    border-bottom: 2px solid black;
    border-right: none;
    font-weight: 700;
    padding: 0;
    background: #fff;
}


#footer {
    height: auto;
    min-height: 450px;
    padding-top: 100px;
    padding-bottom: 20px;
    background: #000;
    margin-top: 50px;
}

#footer #brand {
    margin-bottom: 40px;
}

#footer h3 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 22px;
}

#footer ul {
    list-style: none;
    font-size: 13px;
    font-weight: 700;
}

#footer a {
    color: black;
}

#footer a:hover {
    color: black;
    text-decoration: underline;
}

#footer .copyright {
    border-top: 1px solid #d74123;
}



@media (min-width: 576px) {
    .normalen {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .shorten {
        padding-left: 40px;
        padding-right: 40px;
    }

    .widen {
        margin-right: 40px;
        margin-left: -40px;
        width: 768px;
    }

    .normalen {
        width: 720px;
    }
}

@media (min-width: 990px) {
    .shorten {
        padding-left: 90px;
        padding-right: 90px;
    }

    .widen {
        margin-right: 90px;
        margin-left: -90px;
        width: 990px;
    }

    .normalen {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .shorten {
        padding-left: 100px;
        padding-right: 100px;
    }

    .widen {
        margin-right: 100px;
        margin-left: -100px;
        width: 1200px;
    }

    .normalen {
        width: 1200px;
    }
}